{% extends 'webapp/base.html' %}

{% block 'title' %}
    Баланс
{% endblock %}

{% block 'body' %}
  <div class="row">
    <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light">Черный список /</span> Ключевые слова</h4>
    <div class="col-xl-6 my-form-border">
      <div class="card mb-1 my-form-area">
        <h5 class="card-header mb-0 pb-0">Укажите ключевые слова для черного списка:</h5>
        <div class="card-body">
          <div class="row gy-3">
            <div class="col-md">
              <div class="demo-inline-spacing mt-1">

<!--                  Блок с балансом-->
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                          <img src="/static/mytlg/site_donor/assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
                        </div>
                      </div>
                      <h3 class="card-title text-nowrap mb-1">💲 {{ balance }}</h3>
                    </div>
                  </div>

                <form id="interestsForm" action="{% url 'webapp:balance' %}" method="post">
                  {% csrf_token %}
                  {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                  <input class="my-filling-fields" type="text" id="tg-id-input" value="" name="tlg_id">

                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <div class="col-md">
                                  <small class="text-light fw-semibold">Выберите способ оплаты</small>
                                  {% for i_method in pay_methods %}
                                    <div class="form-check">
                                        <input name="default-radio-1" class="form-check-input" type="radio" value="{{ i_method.0 }}" id="defaultRadio1" checked>
                                        <label class="form-check-label" for="defaultRadio1"> {{ i_method.1 }} </label>
                                    </div>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                  <div class="mb-1 mt-3">
                    <button id="writeInterestsBtn" type="submit" class="btn btn-info my-btn-clr">Отправить</button>
                  </div>
                </form>

              </div>

              <div id="ajaxResult">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}