{% extends 'webapp/base.html' %}

{% block 'title' %}
    Подтверждение платежа
{% endblock %}

{% block 'body' %}
<div class="row">
    <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light">Баланс /</span> Подтверждение оплаты</h4>

    <div class="col-xl-6 my-form-border">
        <div class="card mb-4 my-form-area">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">💳 <strong>Способ оплаты:</strong>
                    {% if pay_method == 'to_card' %}
                        <code>Перевод на карту</code>
                    {% endif %}
                </li>
                <li class="list-group-item">💵 <strong>Сумма:</strong> <code>{{ amount }}</code> ₽</li>
                <li class="list-group-item">🧾 <strong>Дата и время счета:</strong> <code>{{ created_at }}</code></li>
                <li class="list-group-item">🔹 <strong>Статус:</strong> <code>{{ status }}</code></li>
                <li class="list-group-item">🦧 <strong>Юзер бота:</strong> <code>{{ bot_user.tlg_id }} | <a href="https://t.me/{{ bot_user.tlg_username }}">@{{ bot_user.tlg_username }}</a></code></li>
            </ul>
        </div>
    </div>

    <div class="col-xl-6 my-form-border">
        <div class="card mb-1 my-form-area">
            <form id="interestsForm" action="{% url 'webapp:sec_pay_step' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="tg_msg_id" value="{{ tg_msg_id }}">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <input type="hidden" name="bill_hash" value="{{ bill_hash }}">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">Прикрепите скриншот или чек</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <small class="text-light fw-semibold">Пожалуйста, прикрепите скриншон или чек для подтверждения платежа и нажмите кнопку "Отправить"</small>
                                <div class="input-group">
                                    <input type="file" name="bill_file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                    <button class="btn rounded-pill btn-info btn-outline-primary my-btn-clr" type="submit" id="inputFileButton">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<!--скрипт для отключения кнопки отправки формы при клике по ней-->
<script>
  let createButton = document.getElementById('inputFileButton');
  let applicationForm = document.getElementById('interestsForm');
  createButton.addEventListener('click', function() {
      createButton.setAttribute("disabled", "disabled");
      createButton.textContent = '⌛️ Отправляю файл...';
      applicationForm.submit();
  });
</script>