{% extends 'webapp/base.html' %}

{% block 'title' %}
    Подтверждение платежа
{% endblock %}

{% block 'body' %}
<div class="row">
    <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light">Баланс /</span> Подтверждение оплаты</h4>

    <div class="col-xl-6 my-form-border">
        <div class="card mb-4 my-form-area">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">💳 <strong>Способ оплаты:</strong>
                    {% if pay_method == 'to_card' %}
                        <code>Перевод на карту</code>
                    {% endif %}
                </li>
                <li class="list-group-item">💵 <strong>Сумма:</strong> <code>{{ amount }}</code> ₽</li>
                <li class="list-group-item">🧾 <strong>Дата и время счета:</strong> <code>{{ created_at }}</code></li>
                <li class="list-group-item">🔹 <strong>Статус:</strong> <code>{{ status }}</code></li>
                <li class="list-group-item">🦧 <strong>Юзер бота:</strong> <code>{{ bot_user.tlg_id }} | <a href="https://t.me/{{ bot_user.tlg_username }}">@{{ bot_user.tlg_username }}</a></code></li>
            </ul>
        </div>
    </div>

    <div class="col-xl-6 my-form-border">
        <div class="card mb-1 my-form-area">
            <form id="interestsForm" action="{% url 'webapp:check_payment' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="tg_msg_id" value="{{ tg_msg_id }}">
                <input type="hidden" name="accept_pay_flag" id="acceptPayFlag">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <input type="hidden" name="bill_hash" value="{{ bill_hash }}">
                <div class="row">
                    <div class="col-12 my-form-border">
                        <div class="card my-form-area">
                            <h5 class="card-header">Подтверждение платежа</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <small class="text-light fw-semibold"><b>Подтвердите</b> или <b>отклоните платёж</b>, нажав соответствующие кнопки. Вы также можете указать какой-либо комментарий. Он будет отправлен пользователю как в случае отклонения платежа, так и в случае подтверждения.</small>
                                <div class="input-group">
                                    <textarea class="my-filling-fields" name="bill_comment" id="bill_comment" cols="30" rows="5" placeholder="Укажите какой-либо комментарий. Это поле можно оставить пустым."></textarea>
                                </div>
                                <div class="input-group">
                                    <button class="btn rounded-pill btn-info btn-outline-primary my-btn-clr" type="submit" id="confirmPaymentButton">✅ Подтвердить</button>
                                    <button class="btn rounded-pill btn-info btn-outline-primary my-btn-clr" type="submit" id="declinePaymentButton">❌ Отклонить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- скрипт для работы с данными от телеги-->
<script>
  var tgObject = window.Telegram.WebApp;
  tgObject.enableClosingConfirmation()  // предупреждение при закрытии WebApp
</script>

<!--скрипт для отключения кнопки отправки формы при клике по ней-->
<script>
  let confirmPaymentButton = document.getElementById('confirmPaymentButton');
  let declinePaymentButton = document.getElementById('declinePaymentButton');
  let acceptPayFlag = document.getElementById('acceptPayFlag');
  let applicationForm = document.getElementById('interestsForm');
  confirmPaymentButton.addEventListener('click', function() {
      declinePaymentButton.setAttribute("disabled", "disabled");
      confirmPaymentButton.setAttribute("disabled", "disabled");
      confirmPaymentButton.textContent = '⌛️ Отправляю данные...';
      acceptPayFlag.setAttribute("value", "1");
      applicationForm.submit();
  });
  declinePaymentButton.addEventListener('click', function() {
      declinePaymentButton.setAttribute("disabled", "disabled");
      confirmPaymentButton.setAttribute("disabled", "disabled");
      declinePaymentButton.textContent = '⌛️ Отправляю данные...';
      acceptPayFlag.setAttribute("value", "0");
      applicationForm.submit();
  });
</script>

{% endblock %}