{% extends 'webapp/base.html' %}

{% block 'title' %}
    Второй шаг пополнения баланса
{% endblock %}

{% block 'body' %}
<div class="row">
    <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light">Баланс /</span> Подтверждение оплаты</h4>

    <div class="col-xl-6 my-form-border">
        <div class="card mb-4 my-form-area">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">💳 <strong>Способ оплаты:</strong>
                    {% if pay_method == 'to_card' %}
                    <code>Перевод на карту</code>
                    {% endif %}
                </li>
                <li class="list-group-item">💵 <strong>Сумма:</strong> <code>{{ amount }}</code> ₽</li>
                <li class="list-group-item">🧾 <strong>Данные для оплаты:</strong> <code>{{ to_card_pay_data }}</code></li>
            </ul>
        </div>
    </div>

    <div class="col-xl-6 my-form-border">
        <div class="card mb-1 my-form-area">
            <form id="interestsForm" action="{% url 'webapp:sec_pay_step' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <input type="hidden" name="bill_hash" value="{{ bill_hash }}">
                <div class="row">
                    <div class="col-12 my-form-border">
                        <div class="card my-form-area">
                            <h5 class="card-header">Прикрепите скриншот или чек</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <small class="text-light fw-semibold">Пожалуйста, прикрепите скриншот или чек для подтверждения платежа и нажмите кнопку "Отправить"</small>
                                <div class="input-group">
                                    <input type="file" name="bill_file" class="form-control my-filling-fields" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                </div>
                                <div class="input-group">
                                    <button class="btn rounded-pill btn-info btn-outline-primary my-btn-clr" type="submit" id="inputFileButton">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- скрипт для работы с данными от телеги-->
<script>
  var tgObject = window.Telegram.WebApp;
  tgObject.enableClosingConfirmation()  // предупреждение при закрытии WebApp
</script>

<!--скрипт для отключения кнопки отправки формы при клике по ней-->
<script>
  let inputFileButton = document.getElementById('inputFileButton'); // Берем кнопку
  let applicationForm = document.getElementById('interestsForm'); // Берем форму
  let inputFileField = document.getElementById('inputGroupFile04'); // Берем input для файла
  inputFileButton.addEventListener('click', function() {
      inputFileButton.setAttribute("disabled", "disabled");     // Отключаем кнопку
      // inputFileField.setAttribute("type", "hidden");  // Отключаем input для файла
      inputFileButton.textContent = '⌛️ Отправляю файл...';     // Меняем текст кнопки
      applicationForm.submit();     // Швыряем форму на бэк
  });
</script>

{% endblock %}
